.dashboard {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.addButton {
  padding: 0.5rem 1rem;
  background-color: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #005fa3;
}

.table {
  width: 100%;
  border-collapse: collapse;
  /* background: #fff; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.table th, .table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.viewLink {
  color: #007acc;
  text-decoration: none;
}

.viewLink:hover {
  text-decoration: underline;
}

.status_todo {
  color: orange;
  font-weight: bold;
}

.status_done {
  color: green;
  font-weight: bold;
}

.status_inprogress {
  color: blue;
  font-weight: bold;
}

.dashboard {
  padding: 20px;
}

.board {
  display: flex;
  gap: 20px;
}

.column {
  background: grey;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.column h3 {
  text-align: center;
  margin-bottom: 10px;
}