
.detailsContainer {
  padding: 30px;
  max-width: 1400px; 
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: gray; 
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 40px;
  font-size: 2em;
  font-weight: 700;
  border-bottom: 2px solid #f0f2f5;
  padding-bottom: 15px;
}

.saveContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.saveButton {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.saveButton:hover:not(:disabled) {
  background-color: #218838;
  transform: translateY(-2px);
}

.saveButton:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.saveSuccessMessage, .saveErrorMessage {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.saveSuccessMessage {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.saveErrorMessage {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}