.searchPageContainer {
    /* min-height: 100vh; */
    /* background-color: #f3f4f6; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2.5rem 1rem; */
    /* Видалено "width: 1000px" для коректної адаптивності */
}

.searchPageCard {
    width: 100%;
    max-width: 90rem;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 2rem;
}

.searchTitle {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    color: #1f2937;
    margin-bottom: 1.5rem;
}

.searchInputGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

@media (min-width: 640px) {
    .searchInputGroup {
        flex-direction: row;
    }
}

.searchInput {
    flex-grow: 1;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.2s;
}

.searchInput:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.searchButton {
    background-color: #2563eb;
    color: #ffffff;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.3s;
}

.searchButton:hover {
    background-color: #1d4ed8;
}

.searchButton:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
}

.errorMessage {
    color: #ef4444;
    text-align: center;
}

.resultsList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.resultRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f4f6;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
    cursor: pointer;
    border: 1px solid #e5e7eb;
}

.resultRow:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.resultDataGroup {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    .resultDataGroup {
        gap: 1.5rem;
        font-size: 1rem;
    }
}

.resultYear {
    font-weight: 600;
    color: #4b5563;
}

.resultActNumber {
    font-weight: 600;
    color: #1f2937;
}

.resultText {
    color: #db0d0d;
    margin-left: 30px;
}

.resultActivityBlock {
    margin-top: 0.5rem;
    margin-left: auto;
    font-size: 0.875rem;
    font-weight: 600;
    color: #1f2937;
}

@media (min-width: 640px) {
    .resultActivityBlock {
        margin-top: 0;
        margin-left: 0;
    }
}

.noResultsMessage {
    text-align: center;
    color: #6b7280;
    margin-top: 2rem;
}
