.samples {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.samplesTitle {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  margin-bottom: 0px;
}

.sampleCard {
  border: 1px solid #dce1e7;
  border-radius: 12px;
  padding: 16px;
  background-color: #f9fbfd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.sampleCard h4 {
  margin-bottom: 12px;
  color: #1d3557;
}

.sampleCard select,
.sampleCard input[type="text"],
.sampleCard input[type="number"],
.sampleCard input[type="date"] {
  margin-bottom: 10px;
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.inline {
  display: flex;
  gap: 10px;
  align-items: center;
}

.addSample,
.removeSample {
  margin-top: 10px;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.addSample {
  background-color: #35b01d;
}
.removeSample {
  background-color: #e63946;
}

.addSample:hover,
.removeSample:hover {
  border: 1px solid;
  background-color: #fff;
  color: black
}
